In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/weatherAUS.csv')
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [6]:
# check for the null valyes 
data.isna().sum() * 100 /data.shape[0]

Date              0.000000
Location          0.000000
MinTemp           1.020899
MaxTemp           0.866905
Rainfall          2.241853
Evaporation      43.166506
Sunshine         48.009762
WindGustDir       7.098859
WindGustSpeed     7.055548
WindDir9am        7.263853
WindDir3pm        2.906641
WindSpeed9am      1.214767
WindSpeed3pm      2.105046
Humidity9am       1.824557
Humidity3pm       3.098446
Pressure9am      10.356799
Pressure3pm      10.331363
Cloud9am         38.421559
Cloud3pm         40.807095
Temp9am           1.214767
Temp3pm           2.481094
RainToday         2.241853
RainTomorrow      2.245978
dtype: float64

In [7]:
# dropping the data which has more than 10 percent null values 
na_cols = ['Cloud9am', 'Cloud3pm' , 'Evaporation', 'Sunshine']
data = data.drop(na_cols, axis=1)

In [8]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [12]:
# checking the data with types 
data.select_dtypes('object').head(5)

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,W,W,WNW,No,No
1,2008-12-02,Albury,WNW,NNW,WSW,No,No
2,2008-12-03,Albury,WSW,W,WSW,No,No
3,2008-12-04,Albury,NE,SE,E,No,No
4,2008-12-05,Albury,W,ENE,NW,No,No

In [11]:
data.select_dtypes(['int', 'float']).head(5)

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5
4,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7

In [13]:
# 
data.shape

(145460, 19)

In [14]:
!pip install pandas-profiling

Collecting pandas-profiling
  Downloading pandas_profiling-3.5.0-py2.py3-none-any.whl (325 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 325.0/325.0 kB 710.9 kB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (709 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 709.4/709.4 kB 646.9 kB/s eta 0:00:001m598.0 kB/s eta 0:00:01
Collecting tqdm<4.65,>=4.48.2
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 kB 1.7 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: requests<2.29,>=2.24.0 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from pandas-profiling) (2.28.1)
Collecting statsmodels<0.14,>=0.13.2
  Downloading statsmodels-0.13.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 599.3 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting PyYAML<6.1,>=5.0.0
  Downloading PyYAML-6.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (661 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 661.8/661.8 kB 561.7 kB/s eta 0:00:00m eta 0:00:010:01:01
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.7/102.7 kB 1.1 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting seaborn<0.13,>=0.10.1
  Downloading seaborn-0.12.1-py3-none-any.whl (288 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 288.2/288.2 kB 736.5 kB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: numpy<1.24,>=1.16.0 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from pandas-profiling) (1.23.5)
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9-py3-none-any.whl (10 kB)
Collecting scipy<1.10,>=1.4.1
  Downloading scipy-1.9.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (33.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.8/33.8 MB 593.7 kB/s eta 0:00:00m eta 0:00:01[36m0:00:02
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from pandas-profiling) (1.5.2)
Collecting typeguard<2.14,>=2.13.2
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from pandas-profiling) (3.1.2)
Collecting matplotlib<3.7,>=3.2
  Downloading matplotlib-3.6.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 586.8 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pydantic<1.11,>=1.8.1
  Downloading pydantic-1.10.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.2/13.2 MB 594.9 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: attrs>=19.3.0 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (22.1.0)
Collecting networkx>=2.4
  Downloading networkx-2.8.8-py3-none-any.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 569.4 kB/s eta 0:00:00m eta 0:00:010:01:01
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 602.3 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting imagehash
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 kB 731.1 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Collecting Pillow
  Downloading Pillow-9.3.0-cp39-cp39-manylinux_2_28_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 609.2 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: MarkupSafe>=2.0 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.1.1)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.3/296.3 kB 761.1 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 965.4/965.4 kB 620.2 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: pyparsing>=2.2.1 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (3.0.9)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 553.4 kB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: packaging>=20.0 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling) (2022.6)
Collecting joblib>=0.14.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 768.7 kB/s eta 0:00:001m806.7 kB/s eta 0:00:01
Collecting typing-extensions>=4.1.0
  Downloading typing_extensions-4.4.0-py3-none-any.whl (26 kB)
Requirement already satisfied: certifi>=2017.4.17 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.13)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 kB 704.1 kB/s eta 0:00:001m810.7 kB/s eta 0:00:01
Requirement already satisfied: six in /home/rushi/miniconda3/envs/python3_9/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas-profiling) (1.16.0)
Collecting PyWavelets
  Downloading PyWavelets-1.4.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 601.5 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27082 sha256=4f9a8a4f76961170bba41b9f09d0976da7ac82a4ff18d07f4c751afc898a90c6
  Stored in directory: /home/rushi/.cache/pip/wheels/1d/05/04/c6d7d3b66539d9e659ac6dfe81e2d0fd4c1a8316cc5a403300
Successfully built htmlmin
Installing collected packages: htmlmin, typing-extensions, typeguard, tqdm, tangled-up-in-unicode, scipy, PyYAML, PyWavelets, Pillow, patsy, networkx, multimethod, kiwisolver, joblib, fonttools, cycler, contourpy, pydantic, matplotlib, imagehash, visions, statsmodels, seaborn, phik, pandas-profiling
Successfully installed Pillow-9.3.0 PyWavelets-1.4.1 PyYAML-6.0 contourpy-1.0.6 cycler-0.11.0 fonttools-4.38.0 htmlmin-0.1.12 imagehash-4.3.1 joblib-1.2.0 kiwisolver-1.4.4 matplotlib-3.6.2 multimethod-1.9 networkx-2.8.8 pandas-profiling-3.5.0 patsy-0.5.3 phik-0.12.2 pydantic-1.10.2 scipy-1.9.3 seaborn-0.12.1 statsmodels-0.13.5 tangled-up-in-unicode-0.2.0 tqdm-4.64.1 typeguard-2.13.3 typing-extensions-4.4.0 visions-0.7.5

In [15]:
profile = ProfileReport(data, title="Quick Data Profiling Report")

NameError: name 'ProfileReport' is not defined

In [ ]:
profile.to_file("../artifacts/quick_report.html")

In [ ]:
../artifacts/